<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="header">
            <a href="http://www.github.com/SPxiaomin" title="我的github网址" target="_blank">
                <img src="/images/dest/touxiang.png" alt="头像" />
            </a>
        </div>
        <div class="content"><%- data %></div>
    </body>
</html>
