<% include header.html %>

<div class="container" id="login">
    <form method="post">
        <fieldset>
            <legend>用户登陆</legend>
            <%- message %>
            <div class="form-group">
                <label for"username">用户名</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-default">登陆</button>
        </fieldset>
    </form>
</div>

<% include footer.html %>
