.intro-section {
    /* layout */
    min-height: 600px;

    position: relative;

    /* typography */
    text-align: center;

    h1 {
        text-align: center;
    }

    img {
        /* layout */
        height: 250px;
        weight: 250px;
        position: relative;
        top: 50px;
    }

    .intro {
        /* layout */
        position: relative;
        top: 100px;

        /* typography */
        font-size: 25px/1.4286;
    }
}

.github-section {
    /* layout */
    min-height: 600px;


    /* typography */
    text-align: center;

    svg {
position: relative;
        top: 50px;
    }

    .intro {
position: relative;
        top: 150px;
    }
}
